<div class="modal-overlay" (click)="close.emit()"></div>

<div class="modal">
	<h2>Commits de <span class="repo-name">{{ repoName }}</span></h2>

	<div *ngIf="isLoadingCommits" class="loading">
		<i class="fas fa-spinner fa-spin"></i> Carregando commits...
	</div>

	<ul class="commits-list" *ngIf="!isLoadingCommits && commits.length; else noCommits">
		<li *ngFor="let commit of commits">
			<strong>{{ commit.author }}</strong> - {{ commit.message }}
			<div class="date">{{ commit.date | date:'short' }}</div>
		</li>
	</ul>

	<ng-template #noCommits>
		<div class="empty-message" *ngIf="!isLoadingCommits">
			<i class="fas fa-ban"></i> Nenhum commit encontrado.
		</div>
	</ng-template>

	<div class="buttons">
		<button (click)="close.emit()">Fechar</button>
	</div>
</div>
